h1#titolEquip {
    width: 50%;
    color: #494949; /* Azul que contrasta bien con el blanco */
    border: solid #7e7e7e 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 20px;  /* Añadir bordes redondos */
}

.paragrafEquip {
    width: 80%;
    border: solid black 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 20px;  /* Añadir bordes redondos */
}

.imatgeEquip {
    width: 50px;
    margin: 10px;
}

body {
    background-color: #EEE;
}

.imagenHome{
    width: 50px;
}

.line {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 20px;  /* Añadir bordes redondos */
    border: 4px solid #7e7e7e;
}

.line span.bold {
    font-weight: bold;
    margin-right: 5px;
    color: #333;
}

.imagenTriste {
    width: 50%;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;  /* Añadir bordes redondos */
}

/* Estilos para el span como título */
span.title {
    font-size: 3em; /* Tamaño de letra más grande */
    font-weight: bold; /* Texto en negrita */
    color: #494949; /* Azul que contrasta bien con el blanco */
}
